{% extends 'base.html' %} {% block content %}

<ul>
  {% for subcategoria in sub_categorias %}
  <li class="px-6 my-4 flex flex-row">
    <a href="{% url 'subCategory_details' subcategoria.id %}" class="underline"
      ><span class="mdi mdi-alien-outline mx-4"></span>{{subcategoria.name}}</a
    >
    <p class="mx-4">{{subcategoria.description}}</p>
    <p class="mx-4">{{subcategoria.categoria}}</p>
  </li>
  {% endfor %}
</ul>
<a
  href="/create/subCategory"
  class="m-4 rounded-full shadow-lg p-4 bg-red-400 z-50 absolute bottom-0 right-0"
>
  <span class="mdi mdi-plus text-4xl"></span>
</a>
{% endblock %}
